$color-primario: #4c0495;
$color-botones: #1472df;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contNav {
  background-color: $color-primario;
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
// SECCION  ORDENAR
.sOrdenar {
  background-color: #1472df;
  margin: 0px 30px;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 9px 46px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  -moz-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
}

.sOrdenar:hover {
  background-color: #0b488d;
}

.optionF {
  font-weight: bold;
}

.contFiltrar a {
  color: aliceblue;
}

.contFiltrar {
  display: flex;
  justify-content: flex-end;
}
// SECCION FILTRAR
.menuFiltrar {
  display: inline;
  margin: 0px 20px;
}

.inputContador {
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 5px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
  background-color: white;
}

.botonFiltrar {
  background-color: #1472df;
  margin: 0px 30px;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 9px 46px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  -moz-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
}

.botonFiltrar:hover {
  background-color: #0b488d;
}

// CONTADOR

.conteConatdor {
  width: 95%;
  background-color: #68ed9d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  border-radius: 10px;
  margin: 36px;
  align-items: center;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  -moz-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
}

.liContador {
  display: inline;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 5px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
  margin: 0 20px;
}

.liContadoR {
  display: inline;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
  margin: 0 20px;
  background-color: white;
}

.titulo_contador {
  color: white;
  margin: 0px 35px;
}

.panelConatdor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 65px;
}

.inputN {
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 5px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
}

.imgContador {
  height: 20px;
  width: 20px;
  margin: -5px auto;
}

.imgContador:hover {
  transform: scale(1.5);
  transition: 1s;
}

.basureroContador {
  display: inline;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 5px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
  margin: 0 20px;
}

.imgBasurero {
  height: 30px;
  width: 30px;
  margin: -8px auto;
}

.contFooter {
  background-color: #4c0495;
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: fixed;
  top: 90%;
}

.menuLabel {
  background-color: white;
  display: inline;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 10px 5px;
  border-radius: 10px;
  width: 60px;
  font-weight: bold;
  outline: none;
}

.butonContador {
  border: none;
  background-color: white;
  padding: 13px;
  border-radius: 24px;
}

.menuFooter {
  display: inline;
  margin: 0px 20px;
}

.labelContador {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.botonCantidad {
  background-color: #1472df;
  margin: 0px 30px;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 9px 46px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  -moz-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
}

.botonCantidad:hover {
  background-color: #0b488d;
}

.butonAgregar {
  border: none;
  background-color: $color-botones;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 35px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  -moz-box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
  box-shadow: 2px 3px 2px 0px rgba(255, 255, 255, 0.16);
}

.butonAgregar:hover {
  background-color: #0b488d;
}

.bodyI {
  background-color: #222;
  height: 80vh;
  overflow: auto;
}

// Responsive

@media only screen and (max-width: 1024px) {
  .panelConatdor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  .panelConatdor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1px;
  }

  .liContador {
    display: inline;
    border: none;
    text-align: center;
    font-size: 1em;
    padding: 10px 0px;
    border-radius: 10px;
    width: 60px;
    font-weight: bold;
    outline: none;
    margin: 0 20px;
  }

  .conteConatdor {
    width: 91%;
    background-color: #68ed9d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    border-radius: 10px;
    margin: 36px;
    align-items: center;
    box-shadow: 2px 3px 2px 0px rgb(255 255 255 / 16%);
  }

  .liContadoR {
    display: inline;
    border: none;
    text-align: center;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 10px;
    width: 60px;
    font-weight: bold;
    outline: none;
    margin: 0 12px;
    background-color: white;
  }
}

@media only screen and (max-width: 425px) {
  .contNav {
    background-color: #4c0495;
    width: 100%;
    height: 16vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .sOrdenar {
    background-color: #1472df;
    margin: 0px 30px;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 9px 22px;
    border: none;
    border-radius: 5px;
  }

  .botonFiltrar {
    background-color: #1472df;
    margin: 0px 3px;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
  }
  .contFiltrar {
    display: flex;
    justify-content: center;
  }
  .menuFiltrar {
    display: inline;
    margin: 0px 10px;
  }

  .menuFooter {
    display: inline;
    margin: 0px 10px;
  }

  .botonCantidad {
    background-color: #1472df;
    margin: 0px 7px;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
  }

  .conteConatdor {
    width: 84%;
    background-color: #68ed9d;
    height: 19vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 36px;
    align-items: center;
    box-shadow: 2px 3px 2px 0px rgb(255 255 255 / 16%);
  }

  .titulo_contador {
    color: white;
    margin: 15px 35px;
  }
}
